In [199]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os
import glob

In [209]:

# Initialize count as the first dataset year
count = 2010

# Read 2010-2017 dengue data in a loop
for filename in glob.glob('*bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx'):
    data = pd.read_excel(pd.ExcelFile(filename))
    
    # Set the columns names to the age category and multiple Malaysian States name
    data.columns = data.iloc[1]
    
    # Remove the first two unrelated rows
    data = data.iloc[2:]
    
    # Rename 'Kumpulan Umur' to  'Age Group'
    data.rename(columns = {'KUMPULAN UMUR':'AGE_GROUP'}, inplace = True)
    
    # Delete column names ('WP KUALA LUMPUR', 'WP LABUAN', 'MALAYSIA')
    del data['WP KUALA LUMPUR']
    del data['WP LABUAN']
    del data['MALAYSIA']
    
    # Drop last row 'GRAND TOTAL'
    data = data[:-1]
    
    # Create a new column - sum of each age group
    # data['Total'] = data.sum(axis=0)
    
    col_list= list(data)
    col_list.remove('AGE_GROUP')
    
    data['AGE_GROUP_TOTAL'] = data[col_list].sum(axis=1)
#     data.loc['STATE_TOTAL'] = data.iloc[:, 1:].sum()
    data['AGE_GROUP'] = pd.Categorical(data.AGE_GROUP)

    
    # Remove columns with NaN
    data = data.dropna(axis='columns',how='all')
    
    print(data)
    
    # Get the current directory storing 2010-2017 Dengue Hemorrhagic Fever (DHF) hemorrhagic datasets
    path = os.getcwd()
    
    # Export formatted data into CSV
    data.to_excel(path+"/dengue%s.xlsx" % count,header=True, index=False)
    
    # Increment count to next year
    count+=1

1  AGE_GROUP JOHOR KEDAH KELANTAN MELAKA NEGERI SEMBILAN PAHANG PERAK PERLIS  \
2        0-4    10     0        4      1               0      0     0      0
3        5-9    16     0       11      2               2      4     4      0
4      10-14    63     0       25     29               9     12     8      0
5      15-19    67     0       55     38              15     16     4      0
6      20-24   102     0       32     52              18     10     2      0
7      25-29   115     0       31     41              18     13     2      0
8      30-34    78     0       20     28              14     13     4      0
9      35-39    63     0       23     28              13     10     1      0
10     40-44    35     1       14     27               9      7     2      0
11     45-49    29     1       22     18              13     12     0      0
12     50-54    18     0       21     15               9     11     1      0
13     55-59    12     1        6     16               6      4     3      0
14     60-64    12     0        5      5               2      2     0      0
15     65-69     7     0        8      3               0      1     0      0
16     70-74     3     0        0      4               0      0     1      0
17       >75     0     0        2      1               0      1     0      0

1  PULAU PINANG SABAH SARAWAK SELANGOR TERENGGANU  AGE_GROUP_TOTAL
2             3     1       5       32          2             58.0
3             1     3      12       63          4            122.0
4             5     2      10      182          9            354.0
5             1     2      12      243         14            467.0
6             0     0      22      348         13            599.0
7             3     2      21      330         14            590.0
8             2     2      12      246          5            424.0
9             4     1      17      166          6            332.0
10            1     3      20      132          5            256.0
11            1     1       8       83          3            191.0
12            0     0      11       61          3            150.0
13            0     0       4       34          4             90.0
14            0     0       3       16          0             45.0
15            0     0       3       10          0             32.0
16            0     0       0        7          0             15.0
17            0     0       2        2          1              9.0
1  AGE_GROUP JOHOR KEDAH KELANTAN MELAKA NEGERI SEMBILAN PAHANG PERAK PERLIS  \
2        0-4     3     0        0      0               2      1     2      0
3        5-9    15     0        1      1               3      3     3      0
4      10-14    18     1        2      3               4      5     2      0
5      15-19    23     4        6      0               9      1     1      0
6      20-24    34     3        3      2               5      6     4      0
7      25-29    33     1        4      2               5      5     2      0
8      30-34    18     4        6      2               4      2     5      0
9      35-39    12     3        1      1               4      3     3      0
10     40-44    10     1        4      1               5      6     2      0
11     45-49     5     1        4      1               1      4     4      0
12     50-54     7     3        2      0               0      1     2      0
13     55-59     4     0        2      2               1      1     2      0
14     60-64     2     0        1      2               2      1     1      0
15     65-69     1     0        2      1               1      1     1      0
16     70-74     1     0        0      0               0      0     0      0
17       >75     0     0        0      0               0      0     0      0

1  PULAU PINANG SABAH SARAWAK SELANGOR TERENGGANU  AGE_GROUP_TOTAL
2             2     4       1       11          1             27.0
3             1     4       2       24          2             59.0
4             3     6       3       65          8            120.0
5             8     6       3       92         20            173.0
6             6     2       2       99         25            191.0
7             4     0       1      113         10            180.0
8             5     1       5       74         11            137.0
9             2     1       4       58          9            101.0
10            5     1       1       49          5             90.0
11            0     1       2       25          3             51.0
12            1     0       3       23          6             48.0
13            3     0       1       15          2             33.0
14            0     0       4       10          2             25.0
15            0     1       1        3          2             14.0
16            1     1       0        3          0              6.0
17            0     0       0        3          0              3.0
1  AGE_GROUP JOHOR KEDAH KELANTAN MELAKA NEGERI SEMBILAN PAHANG PERAK PERLIS  \
2        0-4     2     0        0      0               0      0     1      0
3        5-9     6     0        0      1               0      1     4      0
4      10-14     6     2        3      0               0      2     3      1
5      15-19     6     1        4      0               2      0     5      0
6      20-24     6     0        4      3               0      2     3      0
7      25-29    11     1        0      1               1      3     3      0
8      30-34     6     3        1      1               0      0     2      0
9      35-39     2     1        1      0               1      1     2      0
10     40-44     2     1        3      1               0      3     2      0
11     45-49     3     3        1      2               1      1     0      0
12     50-54     0     0        0      1               0      0     4      0
13     55-59     1     4        0      1               0      0     0      0
14     60-64     0     0        1      1               0      0     3      0
15     65-69     0     0        0      0               0      0     1      0
16     70-74     0     0        0      0               0      0     0      0
17       >75     0     0        0      1               0      1     0      0

1  PULAU PINANG SABAH SARAWAK SELANGOR TERENGGANU  AGE_GROUP_TOTAL
2             1     2       2        4          1             13.0
3             2     0       7       11          4             36.0
4             0     4       5       36          2             64.0
5             1     3       1       52          9             84.0
6             3     4       5       51          6             87.0
7             1     4       2       59          6             92.0
8             2     1       4       45          3             68.0
9             3     0       1       31          4             47.0
10            1     0       2       38          2             55.0
11            2     0       1       13          4             31.0
12            2     0       4       13          4             28.0
13            2     0       2       10          1             21.0
14            0     0       0        2          0              7.0
15            1     0       0        5          1              8.0
16            0     0       0        1          0              1.0
17            0     0       1        0          0              3.0
1  AGE_GROUP JOHOR KEDAH KELANTAN MELAKA NEGERI SEMBILAN PAHANG PERAK PERLIS  \
2        0-4     2     1        1      1               0      0     0      2
3        5-9     1     0        0      3               0      0     0      0
4      10-14     3     1        0      5               0      0     1      0
5      15-19     6     0        2      3               1      1     4      0
6      20-24    10     0        1     14               0      0     1      0
7      25-29    10     1        1      5               0      0     1      0
8      30-34    10     1        1      9               1      2     1      0
9      35-39     4     1        3      6               0      0     2      0
10     40-44    10     0        3      5               0      0     2      0
11     45-49     2     0        2      4               1      1     2      1
12     50-54     8     0        0      9               1      0     0      0
13     55-59     2     0        1      9               1      0     1      0
14     60-64     5     0        1      3               0      0     1      0
15     65-69     1     0        0      1               0      0     2      0
16     70-74     0     0        0      3               0      0     0      0
17       >75     4     0        0      2               0      0     0      0

1  PULAU PINANG SABAH SARAWAK SELANGOR TERENGGANU  AGE_GROUP_TOTAL
2             2     1       0        5          1             16.0
3             2     2       2       13          1             24.0
4             2     3       0       26          4             45.0
5             2     7       2       53         12             93.0
6             3     3       0       53          9             94.0
7             6     4       1       42          8             79.0
8            10     0       4       46          6             91.0
9             5     0       0       26          2             49.0
10            1     1       1       22          2             47.0
11            4     0       1       16          4             38.0
12            3     0       3       13          2             39.0
13            1     2       2       12          0             31.0
14            2     2       0        8          1             23.0
15            0     0       0        2          1              7.0
16            0     0       1        0          1              5.0
17            1     0       0        3          0             10.0

1  AGE_GROUP JOHOR KEDAH KELANTAN MELAKA NEGERI SEMBILAN PAHANG PERAK PERLIS  \
2        0-4     0     0        1      1               0      0     0      0
3        5-9     1     0        2      0               0      0     1      0
4      10-14     4     0        4      3               0      2     2      0
5      15-19     3     1        4      1               2      1     4      0
6      20-24    11     1        6      7               1      0     3      0
7      25-29     3     1        4      3               1      4     2      0
8      30-34     5     0        3      6               2      2     5      0
9      35-39     2     3        3      4               2      0     3      0
10     40-44     6     2        1      5               1      0     3      0
11     45-49     5     2        2      3               1      0     3      0
12     50-54     2     0        3      3               2      1     6      0
13     55-59     2     2        2      4               0      1     6      0
14     60-64     0     0        1      5               0      1     4      0
15     65-69     0     1        1      1               1      1     0      0
16     70-74     1     0        0      2               0      0     4      0
17       >75     0     2        0      0               1      0     0      0

1  PULAU PINANG SABAH SARAWAK SELANGOR TERENGGANU  AGE_GROUP_TOTAL
2             1     1       0       14          0             18.0
3             2     5       0       17          0             28.0
4             0     1       4       36          4             60.0
5             1     3       5       75          8            108.0
6             5     2       3       81         13            133.0
7             3     4       2       78          7            112.0
8             7     0       3       82         11            126.0
9             4     1       2       62          4             90.0
10            8     2       3       45          7             83.0
11            4     0       2       35          5             62.0
12            3     1       1       22          5             49.0
13            2     3       1       24          4             51.0
14            1     0       2       13          0             27.0
15            2     0       0       12          2             21.0
16            1     0       0        7          0             15.0
17            1     0       0        5          0              9.0
1  AGE_GROUP JOHOR KEDAH KELANTAN MELAKA NEGERI SEMBILAN PAHANG PERAK PERLIS  \
2        0-4     3     0        0      0               0      0     1      0
3        5-9     3     0        1      0               1      1     1      0
4      10-14     4     1        2      3               2      3     3      0
5      15-19     4     2        3      6               3      2     6      0
6      20-24     6     0        0     10               8      3     3      0
7      25-29     7     0        3      5               4      3     7      1
8      30-34     3     1        1      4               2      2     7      0
9      35-39     6     3        0      1               1      2     5      0
10     40-44     7     2        0      3               2      0     3      0
11     45-49     3     3        0      1               0      1     6      0
12     50-54     3     1        0      3               4      1     5      0
13     55-59     6     1        0      1               0      1     7      0
14     60-64     1     2        0      4               2      0     6      1
15     65-69     1     1        0      3               0      1     6      0
16     70-74     3     0        0      0               2      1     3      0
17       >75     0     0        0      0               0      1     1      0

1  PULAU PINANG SABAH SARAWAK SELANGOR TERENGGANU  AGE_GROUP_TOTAL
2             1     2       0       17          0             24.0
3             2     2       1       22          0             34.0
4             2     4       1       39          0             64.0
5             2     2       0       60          2             92.0
6             5     1       0       93          5            134.0
7             4     4       2       90          2            132.0
8             3     2       1       76          0            102.0
9             3     1       0       61          3             86.0
10            0     0       1       36          4             58.0
11            6     0       0       23          3             46.0
12            1     0       1       21          2             42.0
13            7     1       2       16          1             43.0
14            4     1       1        9          1             32.0
15            0     0       0       13          2             27.0
16            0     0       0        4          1             14.0
17            0     0       0        4          0              6.0
1  AGE_GROUP JOHOR KEDAH KELANTAN MELAKA NEGERI SEMBILAN PAHANG PERAK PERLIS  \
2        0-4     1     1        1      0               0      0     0      0
3        5-9     0     1        1      0               2      0     0      0
4      10-14     2     1        0      1               0      2     0      0
5      15-19     5     1        1      2               5      1     3      0
6      20-24     3     0        4      2               4      1     5      0
7      25-29     7     0        3      0               2      0     2      0
8      30-34     4     0        2      0               2      1     5      0
9      35-39     2     0        1      2               3      1     2      0
10     40-44     1     1        0      3               4      2     4      0
11     45-49     0     1        1      4               0      0     2      0
12     50-54     0     2        1      2               0      4     2      0
13     55-59     1     0        1      1               1      0     2      0
14     60-64     0     0        0      1               1      1     2      0
15     65-69     1     1        0      2               1      1     0      0
16     70-74     1     0        1      1               2      0     0      1
17       >75     0     0        1      3               1      0     0      0

1  PULAU PINANG SABAH SARAWAK SELANGOR TERENGGANU  AGE_GROUP_TOTAL
2             0     1       1       12          0             17.0
3             1     1       0       13          0             19.0
4             2     1       0       18          5             32.0
5             1     2       0       38          3             62.0
6             2     1       1       52          2             77.0
7             0     0       2       50          1             67.0
8             1     1       0       44          1             61.0
9             0     0       0       36          0             47.0
10            1     1       1       29          3             50.0
11            3     0       3       24          0             38.0
12            0     0       0       12          3             26.0
13            2     0       1        7          2             18.0
14            1     2       0       15          0             23.0
15            0     0       0        5          0             11.0
16            0     0       0        3          0              9.0
17            0     0       1        1          0              7.0
1  AGE_GROUP JOHOR KEDAH KELANTAN MELAKA NEGERI SEMBILAN PAHANG PERAK PERLIS  \
2        0-4     3     0        1      0               0      0     1      0
3        5-9     2     0        0      0               2      0     1      0
4      10-14     1     1        0      1               0      0     3      0
5      15-19     1     2        2      1               0      0     2      0
6      20-24     3     0        0      4               2      1     1      1
7      25-29     3     0        2      1               0      0     2      0
8      30-34     2     1        0      1               2      0     2      0
9      35-39     2     0        0      0               0      1     1      0
10     40-44     3     0        1      0               1      0     2      0
11     45-49     7     2        1      1               0      0     5      0
12     50-54     1     1        0      1               1      0     5      0
13     55-59     1     0        0      0               2      2     0      0
14     60-64     0     0        0      0               2      1     2      0
15     65-69     0     0        0      0               0      1     1      0
16     70-74     0     0        0      1               1      0     1      0
17       >75     0     0        0      0               0      0     1      0

1  PULAU PINANG SABAH SARAWAK SELANGOR TERENGGANU  AGE_GROUP_TOTAL
2             1     1       1        7          0             15.0
3             2     1       1        5          0             14.0
4             0     1       0        8          0             15.0
5             1     2       0       17          0             28.0
6             1     4       0       34          1             52.0
7             3     0       0       22          0             33.0
8             4     1       0       27          0             40.0
9             1     0       1       15          0             21.0
10            1     0       1       17          0             26.0
11            2     1       1       12          0             32.0
12            0     1       0       13          0             23.0
13            0     1       1       10          0             17.0
14            1     0       0       10          0             16.0
15            0     0       0        3          0              5.0
16            0     0       0        2          0              5.0
17            0     0       0        1          0              2.0